/* .container {
    display: 'flex',
    justifyContent: 'center',
    alignItems: 'center',
    height: '100vh',
}

form {
    display: 'flex',
    flexDirection: 'column',
    width: '300px',
    textAlign: 'center',
}

input {
    margin: '10px 0',
    padding: '10px',
    fontSize: '16px',
}

error {
    color: 'red',
}

 */
